﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reporte No Encontrado</title>
</head>
<body>
    <div> 
        No se encontr&oacute; el reporte con el ID @ViewBag.Id
    </div>
</body>
</html>
