﻿@{
    ViewBag.Title = "Reportes";
}

@model IEnumerable<AlonsoBlanco.Reporting.Models.ReportModel>
@using AlonsoBlanco.Reporting.Models

<div class="jumbotron">
    <h1>Modulo de Reportes</h1>
    <p class="lead"></p>
    <p></p>
</div>

<div class="row">

    @foreach (ReportModel report in Model)
    {
        <div class="col-md-12">

            <h2>@report.Name</h2>

            <a href="~/ReportApi/View?reportId=@report.Key">Ver</a>
            <a href="~/ReportApi/Export?reportId=@report.Key&output=pdf&apiKey=b9a1e06cb4d71569b11ec4e9d25c1239">PDF</a>
            <a href="~/ReportApi/Export?reportId=@report.Key&output=xls&apiKey=b9a1e06cb4d71569b11ec4e9d25c1239">XLS</a>


        </div>
    }

</div>